<a href="https://colab.research.google.com/github/kabilan942/Virtual-Internship/blob/main/KPMG/KPMG_Task_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [4]:
cust_demo = pd.read_excel('KPMG.xlsx', 'CustomerDemographic')  
cust_add = pd.read_excel('KPMG.xlsx', 'CustomerAddress')   
cust_trans = pd.read_excel('KPMG.xlsx', 'Transactions')   
cust_new = pd.read_excel('KPMG.xlsx','NewCustomerList')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype={value.dtype})
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype={value.dtype})
  after removing the cwd from sys.path.

In [5]:
cust_details = pd.merge(cust_demo, cust_add, on='customer_id')

In [6]:
cust_details.shape

(3996, 18)

In [7]:
cust_details.columns

Index(['customer_id', 'first_name', 'last_name', 'gender',
       'past_3_years_bike_related_purchases', 'DOB', 'job_title',
       'job_industry_category', 'wealth_segment', 'deceased_indicator',
       'default', 'owns_car', 'tenure', 'address', 'postcode', 'state',
       'country', 'property_valuation'],
      dtype='object')

In [8]:
cust_details.drop(['first_name', 'last_name','job_title','deceased_indicator','default',
                   'address', 'postcode', 'state', 'country'], axis=1, inplace=True)

In [9]:
cust_details.shape

(3996, 9)

In [10]:
cust_details.head()

,customer_id,gender,past_3_years_bike_related_purchases,DOB,job_industry_category,wealth_segment,owns_car,tenure,property_valuation
0,1,F,93,1953-10-12,Health,Mass Customer,Yes,11.0,10
1,2,Male,81,1980-12-16,Financial Services,Mass Customer,Yes,16.0,10
2,4,Male,33,1961-10-03,IT,Mass Customer,No,7.0,9
3,5,Female,56,1977-05-13,NaN,Affluent Customer,Yes,8.0,4
4,6,Male,35,1966-09-16,Retail,High Net Worth,Yes,13.0,9

In [11]:
cust_details.set_index('customer_id', inplace=True)

In [12]:
cust_details.head()

,gender,past_3_years_bike_related_purchases,DOB,job_industry_category,wealth_segment,owns_car,tenure,property_valuation
customer_id,,,,,,,,
1,F,93,1953-10-12,Health,Mass Customer,Yes,11.0,10
2,Male,81,1980-12-16,Financial Services,Mass Customer,Yes,16.0,10
4,Male,33,1961-10-03,IT,Mass Customer,No,7.0,9
5,Female,56,1977-05-13,NaN,Affluent Customer,Yes,8.0,4
6,Male,35,1966-09-16,Retail,High Net Worth,Yes,13.0,9

In [13]:
cust_details.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3996 entries, 1 to 4000
Data columns (total 8 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   gender                               3996 non-null   object
 1   past_3_years_bike_related_purchases  3996 non-null   int64
 2   DOB                                  3909 non-null   datetime64[ns]
 3   job_industry_category                3341 non-null   object
 4   wealth_segment                       3996 non-null   object
 5   owns_car                             3996 non-null   object
 6   tenure                               3909 non-null   float64
 7   property_valuation                   3996 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(4)
memory usage: 281.0+ KB

In [14]:
cust_details.dropna(axis=0, inplace=True)

In [15]:
cust_details.head()

,gender,past_3_years_bike_related_purchases,DOB,job_industry_category,wealth_segment,owns_car,tenure,property_valuation
customer_id,,,,,,,,
1,F,93,1953-10-12,Health,Mass Customer,Yes,11.0,10
2,Male,81,1980-12-16,Financial Services,Mass Customer,Yes,16.0,10
4,Male,33,1961-10-03,IT,Mass Customer,No,7.0,9
6,Male,35,1966-09-16,Retail,High Net Worth,Yes,13.0,9
7,Female,6,1976-02-23,Financial Services,Affluent Customer,Yes,11.0,9

In [16]:
cust_details.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3254 entries, 1 to 3999
Data columns (total 8 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   gender                               3254 non-null   object
 1   past_3_years_bike_related_purchases  3254 non-null   int64
 2   DOB                                  3254 non-null   datetime64[ns]
 3   job_industry_category                3254 non-null   object
 4   wealth_segment                       3254 non-null   object
 5   owns_car                             3254 non-null   object
 6   tenure                               3254 non-null   float64
 7   property_valuation                   3254 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(4)
memory usage: 228.8+ KB

In [17]:
cust_index = list(cust_details.index)

In [18]:
cust_index[:10]

[1, 2, 4, 6, 7, 9, 11, 12, 13, 14]

In [19]:
len(cust_index)

3254

In [20]:
trans_grouped = cust_trans.groupby('customer_id')['standard_cost'].sum()

In [21]:
trans_grouped

customer_id
1       6066.360000
2       1922.810000
3       6525.420000
4        827.150000
5       3508.260000
           ...
3497    2095.750000
3498    2029.730000
3499    2718.230000
3500    3136.550000
5034    1250.435028
Name: standard_cost, Length: 3494, dtype: float64

In [22]:
trans_index = list(trans_grouped.index)

In [23]:
trans_list=[]

for id in cust_index:
  if id in trans_index:
    trans_list.append(trans_grouped[id])

In [24]:
len(trans_list)

2853

In [25]:
trans_cust_index = []

for i in cust_index:
  if i in trans_index:
    trans_cust_index.append(i)

In [26]:
len(trans_cust_index)

2853

In [27]:
trans_series = pd.Series(trans_list, index=trans_cust_index, name='trans')

In [28]:
trans_series.head()

1    6066.36
2    1922.81
4     827.15
6    1985.14
7     775.27
Name: trans, dtype: float64

In [29]:
cust_trans_details = pd.merge(cust_details, trans_series, left_index=True, right_index=True)

In [30]:
cust_trans_details.shape

(2853, 9)

## Data Preprocessing

In [31]:
cust_trans_details.head()

,gender,past_3_years_bike_related_purchases,DOB,job_industry_category,wealth_segment,owns_car,tenure,property_valuation,trans
1,F,93,1953-10-12,Health,Mass Customer,Yes,11.0,10,6066.36
2,Male,81,1980-12-16,Financial Services,Mass Customer,Yes,16.0,10,1922.81
4,Male,33,1961-10-03,IT,Mass Customer,No,7.0,9,827.15
6,Male,35,1966-09-16,Retail,High Net Worth,Yes,13.0,9,1985.14
7,Female,6,1976-02-23,Financial Services,Affluent Customer,Yes,11.0,9,775.27

### Preprocessing Gender

In [32]:
pd.unique(cust_trans_details['gender'])

array(['F', 'Male', 'Female', 'U', 'Femal'], dtype=object)

In [33]:
gender_list = list(cust_trans_details['gender'].values)

In [34]:
for i in range(len(gender_list)):
  if gender_list[i]=='F':
    gender_list[i] = 0
  if gender_list[i]=='Femal':
    gender_list[i] = 0
  if gender_list[i]=='Female':
    gender_list[i] = 0
  if gender_list[i]=='Male':
    gender_list[i] = 1

In [35]:
gender_series = pd.Series(gender_list, index=cust_trans_details.index.values, name='Gender')

In [82]:
gender_series.head()

1    0
2    1
4    1
6    1
7    0
Name: Gender, dtype: object

### Preprocessing DOB
Convert to Age with present day as 01/01/2018

In [100]:
age_list=[]

for id in list(cust_trans_details.index):
  age_list.append(2018-cust_trans_details['DOB'][id].year)

In [101]:
age_list[:5]

[65, 38, 57, 52, 42]

Ages:
* 10 to 20 -> encoded as 1
* 21 to 30 -> encoded as 2
* 31 to 40 -> encoded as 3
* 41 to 50 -> encoded as 4
* 51 to 60 -> encoded as 5
* greater than 60 -> encoded as 6

In [120]:
for i in range(len(age_list)):
  if 10<age_list[i]<=20:
    age_list[i] = 1
  elif 20<age_list[i]<=30:
    age_list[i] = 2
  elif 30<age_list[i]<=40:
    age_list[i] = 3
  elif 40<age_list[i]<=50:
    age_list[i] = 4
  elif 50<age_list[i]<=60:
    age_list[i] = 5
  else:
    age_list[i] = 6

In [121]:
age_series = pd.Series(age_list, index=cust_trans_details.index.values, name='Age')

In [122]:
age_series.head()

1    6
2    3
4    5
6    5
7    4
Name: Age, dtype: int64

### Preprocessing owns_car:
Yes - 1

No - 0

In [124]:
car_list=[]

for id in list(cust_trans_details.index):
  if cust_trans_details['owns_car'][id]=='Yes':
    car_list.append(1)
  else:
    car_list.append(0)

In [125]:
car_series = pd.Series(car_list, index=cust_trans_details.index.values, name='Owns Car')

In [126]:
car_series.head()

1    1
2    1
4    0
6    1
7    1
Name: Owns Car, dtype: int64

### Preprocessing Job Category

In [127]:
pd.unique(cust_trans_details['job_industry_category'])

array(['Health', 'Financial Services', 'IT', 'Retail', 'Argiculture',
       'Property', 'Manufacturing', 'Telecommunications', 'Entertainment'],
      dtype=object)

In [129]:
from sklearn.preprocessing import OrdinalEncoder

oe = OrdinalEncoder()

In [131]:
job_category = oe.fit_transform(cust_trans_details['job_industry_category'].values.reshape(-1,1))

In [134]:
job_category.reshape(-1,)

array([3., 2., 4., ..., 5., 5., 1.])

In [135]:
job_category_series = pd.Series(job_category.reshape(-1,), index=cust_trans_details.index.values, name = 'Job Category')

In [137]:
job_category_series.head()

1    3.0
2    2.0
4    4.0
6    7.0
7    2.0
Name: Job Category, dtype: float64

### Preprocessing Wealth Segment

In [138]:
pd.unique(cust_trans_details['wealth_segment'])

array(['Mass Customer', 'High Net Worth', 'Affluent Customer'],
      dtype=object)

In [139]:
wealth_segment = oe.fit_transform(cust_trans_details['wealth_segment'].values.reshape(-1,1))

In [140]:
wealth_segment_series = pd.Series(wealth_segment.reshape(-1,), index=cust_trans_details.index.values, name = 'Wealth Segment')

In [141]:
wealth_segment_series.head()

1    2.0
2    2.0
4    2.0
6    1.0
7    0.0
Name: Wealth Segment, dtype: float64