<a href="https://colab.research.google.com/github/kabilan942/Virtual-Internship/blob/main/KPMG/KPMG_Task_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**KPMG - Data Insights**

In [3]:
import pandas as pd

In [4]:
cust_demo = pd.read_excel('KPMG.xlsx', 'CustomerDemographic')  
cust_add = pd.read_excel('KPMG.xlsx', 'CustomerAddress')   
cust_trans = pd.read_excel('KPMG.xlsx', 'Transactions')   
cust_new = pd.read_excel('KPMG.xlsx','NewCustomerList')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype={value.dtype})
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype={value.dtype})
  after removing the cwd from sys.path.

## Data Exploration & Preprocessing

In [5]:
cust_details = pd.merge(cust_demo, cust_add, on='customer_id')

In [6]:
cust_details.shape

(3996, 18)

In [7]:
cust_details.columns

Index(['customer_id', 'first_name', 'last_name', 'gender',
       'past_3_years_bike_related_purchases', 'DOB', 'job_title',
       'job_industry_category', 'wealth_segment', 'deceased_indicator',
       'default', 'owns_car', 'tenure', 'address', 'postcode', 'state',
       'country', 'property_valuation'],
      dtype='object')

In [8]:
cust_details.drop(['first_name', 'last_name','job_title','deceased_indicator','default',
                   'address', 'postcode', 'state', 'country'], axis=1, inplace=True)

In [9]:
cust_details.shape

(3996, 9)

In [10]:
cust_details.head()

,customer_id,gender,past_3_years_bike_related_purchases,DOB,job_industry_category,wealth_segment,owns_car,tenure,property_valuation
0,1,F,93,1953-10-12,Health,Mass Customer,Yes,11.0,10
1,2,Male,81,1980-12-16,Financial Services,Mass Customer,Yes,16.0,10
2,4,Male,33,1961-10-03,IT,Mass Customer,No,7.0,9
3,5,Female,56,1977-05-13,NaN,Affluent Customer,Yes,8.0,4
4,6,Male,35,1966-09-16,Retail,High Net Worth,Yes,13.0,9

In [11]:
cust_details.set_index('customer_id', inplace=True)

In [12]:
cust_details.head()

,gender,past_3_years_bike_related_purchases,DOB,job_industry_category,wealth_segment,owns_car,tenure,property_valuation
customer_id,,,,,,,,
1,F,93,1953-10-12,Health,Mass Customer,Yes,11.0,10
2,Male,81,1980-12-16,Financial Services,Mass Customer,Yes,16.0,10
4,Male,33,1961-10-03,IT,Mass Customer,No,7.0,9
5,Female,56,1977-05-13,NaN,Affluent Customer,Yes,8.0,4
6,Male,35,1966-09-16,Retail,High Net Worth,Yes,13.0,9

In [13]:
cust_details.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3996 entries, 1 to 4000
Data columns (total 8 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   gender                               3996 non-null   object
 1   past_3_years_bike_related_purchases  3996 non-null   int64
 2   DOB                                  3909 non-null   datetime64[ns]
 3   job_industry_category                3341 non-null   object
 4   wealth_segment                       3996 non-null   object
 5   owns_car                             3996 non-null   object
 6   tenure                               3909 non-null   float64
 7   property_valuation                   3996 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(4)
memory usage: 281.0+ KB

In [14]:
cust_details.dropna(axis=0, inplace=True)

In [15]:
cust_details.head()

,gender,past_3_years_bike_related_purchases,DOB,job_industry_category,wealth_segment,owns_car,tenure,property_valuation
customer_id,,,,,,,,
1,F,93,1953-10-12,Health,Mass Customer,Yes,11.0,10
2,Male,81,1980-12-16,Financial Services,Mass Customer,Yes,16.0,10
4,Male,33,1961-10-03,IT,Mass Customer,No,7.0,9
6,Male,35,1966-09-16,Retail,High Net Worth,Yes,13.0,9
7,Female,6,1976-02-23,Financial Services,Affluent Customer,Yes,11.0,9

In [16]:
cust_details.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3254 entries, 1 to 3999
Data columns (total 8 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   gender                               3254 non-null   object
 1   past_3_years_bike_related_purchases  3254 non-null   int64
 2   DOB                                  3254 non-null   datetime64[ns]
 3   job_industry_category                3254 non-null   object
 4   wealth_segment                       3254 non-null   object
 5   owns_car                             3254 non-null   object
 6   tenure                               3254 non-null   float64
 7   property_valuation                   3254 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(4)
memory usage: 228.8+ KB

In [17]:
cust_index = list(cust_details.index)

In [18]:
cust_index[:10]

[1, 2, 4, 6, 7, 9, 11, 12, 13, 14]

In [19]:
len(cust_index)

3254

In [20]:
trans_grouped = cust_trans.groupby('customer_id')['standard_cost'].sum()

In [21]:
trans_grouped

customer_id
1       6066.360000
2       1922.810000
3       6525.420000
4        827.150000
5       3508.260000
           ...
3497    2095.750000
3498    2029.730000
3499    2718.230000
3500    3136.550000
5034    1250.435028
Name: standard_cost, Length: 3494, dtype: float64

In [22]:
trans_index = list(trans_grouped.index)

In [23]:
trans_list=[]

for id in cust_index:
  if id in trans_index:
    trans_list.append(trans_grouped[id])

In [24]:
len(trans_list)

2853

In [25]:
trans_cust_index = []

for i in cust_index:
  if i in trans_index:
    trans_cust_index.append(i)

In [26]:
len(trans_cust_index)

2853

In [27]:
trans_series = pd.Series(trans_list, index=trans_cust_index, name='trans')

In [28]:
trans_series.head()

1    6066.36
2    1922.81
4     827.15
6    1985.14
7     775.27
Name: trans, dtype: float64

In [29]:
cust_trans_details = pd.merge(cust_details, trans_series, left_index=True, right_index=True)

In [30]:
cust_trans_details.shape

(2853, 9)

### Exploring New Customer List

In [31]:
cust_new.columns

Index(['first_name', 'last_name', 'gender',
       'past_3_years_bike_related_purchases', 'DOB', 'job_title',
       'job_industry_category', 'wealth_segment', 'deceased_indicator',
       'owns_car', 'tenure', 'address', 'postcode', 'state', 'country',
       'property_valuation', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Rank', 'Value'],
      dtype='object')

In [32]:
cust_new.drop(['first_name', 'last_name', 'job_title', 'deceased_indicator', 'address', 
               'postcode', 'state', 'country', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 
               'Unnamed: 19', 'Unnamed: 20'], axis=1, inplace=True)

In [33]:
cust_new.columns

Index(['gender', 'past_3_years_bike_related_purchases', 'DOB',
       'job_industry_category', 'wealth_segment', 'owns_car', 'tenure',
       'property_valuation', 'Rank', 'Value'],
      dtype='object')

In [34]:
cust_new_index = []

for i in range(1000):
  cust_new_index.append(5000+i)

cust_new_index[:5]

[5000, 5001, 5002, 5003, 5004]

In [35]:
cust_new['customer_id'] = cust_new_index

In [36]:
cust_new.set_index('customer_id', inplace=True)

In [37]:
cust_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 5000 to 5999
Data columns (total 10 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   gender                               1000 non-null   object
 1   past_3_years_bike_related_purchases  1000 non-null   int64
 2   DOB                                  983 non-null    datetime64[ns]
 3   job_industry_category                835 non-null    object
 4   wealth_segment                       1000 non-null   object
 5   owns_car                             1000 non-null   object
 6   tenure                               1000 non-null   int64
 7   property_valuation                   1000 non-null   int64
 8   Rank                                 1000 non-null   int64
 9   Value                                1000 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(4), object(4)
memory usage: 85.9+ KB

In [38]:
cust_new.dropna(inplace=True)

In [39]:
cust_new.shape

(818, 10)

In [40]:
cust_new_labels = pd.DataFrame({'Rank':cust_new['Rank'], 'Value':cust_new['Value']}, index=cust_new.index.values)

In [41]:
cust_new.drop(['Rank','Value'], axis=1, inplace=True)

In [42]:
cust_new.head()

,gender,past_3_years_bike_related_purchases,DOB,job_industry_category,wealth_segment,owns_car,tenure,property_valuation
customer_id,,,,,,,,
5000,Male,86,1957-07-12,Manufacturing,Mass Customer,Yes,14,6
5001,Male,69,1970-03-22,Property,Mass Customer,No,16,11
5002,Female,10,1974-08-28,Financial Services,Affluent Customer,No,10,5
5003,Female,64,1979-01-28,Manufacturing,Affluent Customer,Yes,5,1
5004,Female,34,1965-09-21,Financial Services,Affluent Customer,No,19,9

### Merging Old dataset with New dataset

In [43]:
cust_trans_details = pd.concat([cust_trans_details, cust_new])

In [44]:
cust_trans_details.shape

(3671, 9)

In [45]:
cust_trans_details.head()

,gender,past_3_years_bike_related_purchases,DOB,job_industry_category,wealth_segment,owns_car,tenure,property_valuation,trans
1,F,93,1953-10-12,Health,Mass Customer,Yes,11.0,10,6066.36
2,Male,81,1980-12-16,Financial Services,Mass Customer,Yes,16.0,10,1922.81
4,Male,33,1961-10-03,IT,Mass Customer,No,7.0,9,827.15
6,Male,35,1966-09-16,Retail,High Net Worth,Yes,13.0,9,1985.14
7,Female,6,1976-02-23,Financial Services,Affluent Customer,Yes,11.0,9,775.27

In [46]:
cust_trans_details.tail()

,gender,past_3_years_bike_related_purchases,DOB,job_industry_category,wealth_segment,owns_car,tenure,property_valuation,trans
5995,Male,60,1959-10-07,Financial Services,Affluent Customer,No,9.0,7,NaN
5996,Male,22,2001-10-17,Health,Mass Customer,No,6.0,10,NaN
5997,Female,17,1954-10-05,Financial Services,Affluent Customer,Yes,15.0,2,NaN
5998,Male,30,1952-12-17,Financial Services,Mass Customer,Yes,19.0,2,NaN
5999,Male,56,1955-10-02,Property,Mass Customer,Yes,14.0,9,NaN

## Feature Extraction

### Preprocessing Gender

In [47]:
pd.unique(cust_trans_details['gender'])

array(['F', 'Male', 'Female', 'U', 'Femal'], dtype=object)

In [48]:
gender_list = list(cust_trans_details['gender'].values)

In [49]:
for i in range(len(gender_list)):
  if gender_list[i]=='F':
    gender_list[i] = 0
  if gender_list[i]=='Femal':
    gender_list[i] = 0
  if gender_list[i]=='Female':
    gender_list[i] = 0
  if gender_list[i]=='Male':
    gender_list[i] = 1
  if gender_list[i]=='U':
    gender_list[i] = 0.5

In [50]:
gender_series = pd.Series(gender_list, index=cust_trans_details.index.values, name='Gender')

In [51]:
gender_series.head()

1    0.0
2    1.0
4    1.0
6    1.0
7    0.0
Name: Gender, dtype: float64

### Preprocessing DOB
Convert to Age with present day as 01/01/2018

In [52]:
age_list=[]

for id in list(cust_trans_details.index):
  age_list.append(2018-cust_trans_details['DOB'][id].year)

In [53]:
age_list[:5]

[65, 38, 57, 52, 42]

Ages:
* 10 to 20 -> encoded as 1
* 21 to 30 -> encoded as 2
* 31 to 40 -> encoded as 3
* 41 to 50 -> encoded as 4
* 51 to 60 -> encoded as 5
* greater than 60 -> encoded as 6

In [54]:
for i in range(len(age_list)):
  if age_list[i]<=20:
    age_list[i] = 1
  elif 20<age_list[i]<=30:
    age_list[i] = 2
  elif 30<age_list[i]<=40:
    age_list[i] = 3
  elif 40<age_list[i]<=50:
    age_list[i] = 4
  elif 50<age_list[i]<=60:
    age_list[i] = 5
  else:
    age_list[i] = 6

In [55]:
age_series = pd.Series(age_list, index=cust_trans_details.index.values, name='Age')

In [56]:
age_series.head()

1    6
2    3
4    5
6    5
7    4
Name: Age, dtype: int64

### Preprocessing owns_car:
Yes - 1  ; No - 0

In [57]:
car_list=[]

for id in list(cust_trans_details.index):
  if cust_trans_details['owns_car'][id]=='Yes':
    car_list.append(1)
  else:
    car_list.append(0)

In [58]:
car_series = pd.Series(car_list, index=cust_trans_details.index.values, name='Owns Car')

In [59]:
car_series.head()

1    1
2    1
4    0
6    1
7    1
Name: Owns Car, dtype: int64

### Preprocessing Job Category

In [60]:
pd.unique(cust_trans_details['job_industry_category'])

array(['Health', 'Financial Services', 'IT', 'Retail', 'Argiculture',
       'Property', 'Manufacturing', 'Telecommunications', 'Entertainment'],
      dtype=object)

In [61]:
from sklearn.preprocessing import OrdinalEncoder

oe = OrdinalEncoder()

In [62]:
job_category = oe.fit_transform(cust_trans_details['job_industry_category'].values.reshape(-1,1))

In [63]:
job_category.reshape(-1,)

array([3., 2., 4., ..., 2., 2., 6.])

In [64]:
job_category_series = pd.Series(job_category.reshape(-1,), index=cust_trans_details.index.values, name = 'Job Category')

In [65]:
job_category_series.head()

1    3.0
2    2.0
4    4.0
6    7.0
7    2.0
Name: Job Category, dtype: float64

### Preprocessing Wealth Segment

In [66]:
pd.unique(cust_trans_details['wealth_segment'])

array(['Mass Customer', 'High Net Worth', 'Affluent Customer'],
      dtype=object)

In [67]:
wealth_segment = oe.fit_transform(cust_trans_details['wealth_segment'].values.reshape(-1,1))

In [68]:
wealth_segment_series = pd.Series(wealth_segment.reshape(-1,), index=cust_trans_details.index.values, name = 'Wealth Segment')

In [69]:
wealth_segment_series.head()

1    2.0
2    2.0
4    2.0
6    1.0
7    0.0
Name: Wealth Segment, dtype: float64

### Preprocessing  'past_3_years_bike_related_purchases', 'tenure' and 'property_valuation'

'past_3_years_bike_related_purchases', 'tenure' and 'property_valuation' are features which are integer values in higher the value - the better. 

Since all are positive values too, using feature scaling with MinMaxScaler we can scale these value to [0, 1] so that all are in same scale leading to faster convergence.

In [70]:
from sklearn.preprocessing import MinMaxScaler

mms = MinMaxScaler()

In [71]:
import numpy as np

tenure_np = cust_trans_details['tenure'].to_numpy()
property_valuation_np = cust_trans_details['property_valuation'].to_numpy()
bike_related_purchases_np = cust_trans_details['past_3_years_bike_related_purchases'].to_numpy()

In [72]:
tenure_np_scaled = mms.fit_transform(tenure_np.reshape(-1,1))
property_valuation_np_scaled = mms.fit_transform(property_valuation_np.reshape(-1,1))
bike_related_purchases_np_scaled = mms.fit_transform(bike_related_purchases_np.reshape(-1,1))

In [73]:
tenure_series = pd.Series(tenure_np_scaled.reshape(-1,),
                          index=cust_trans_details.index.values, name = 'Tenure')
property_valuation_series = pd.Series(property_valuation_np_scaled.reshape(-1,),
                                      index=cust_trans_details.index.values, name = 'Property Valuation')
bike_related_purchases_series = pd.Series(bike_related_purchases_np_scaled.reshape(-1,), 
                                          index=cust_trans_details.index.values, name = 'Bike Related Purchases')

In [74]:
tenure_series.head()

1    0.476190
2    0.714286
4    0.285714
6    0.571429
7    0.476190
Name: Tenure, dtype: float64

## Modelling

In [75]:
x_data = {'gender': gender_series,'past_3_years_bike_related_purchases':bike_related_purchases_series,
          'DOB':age_series, 'job_industry_category':job_category_series, 'wealth_segment':wealth_segment_series,
          'owns_car':car_series,	'tenure':tenure_series,	'property_valuation':property_valuation_series }

x_df = pd.DataFrame(x_data, index=cust_trans_details.index.values)

In [76]:
x_df.shape

(3671, 8)

In [77]:
x_df.head()

,gender,past_3_years_bike_related_purchases,DOB,job_industry_category,wealth_segment,owns_car,tenure,property_valuation
1,0.0,0.939394,6,3.0,2.0,1,0.476190,0.818182
2,1.0,0.818182,3,2.0,2.0,1,0.714286,0.818182
4,1.0,0.333333,5,4.0,2.0,0,0.285714,0.727273
6,1.0,0.353535,5,7.0,1.0,1,0.571429,0.727273
7,0.0,0.060606,4,2.0,0.0,1,0.476190,0.727273

In [78]:
x_df.tail()

,gender,past_3_years_bike_related_purchases,DOB,job_industry_category,wealth_segment,owns_car,tenure,property_valuation
5995,1.0,0.606061,5,2.0,0.0,0,0.380952,0.545455
5996,1.0,0.222222,1,3.0,2.0,0,0.238095,0.818182
5997,0.0,0.171717,6,2.0,0.0,1,0.666667,0.090909
5998,1.0,0.303030,6,2.0,2.0,1,0.857143,0.090909
5999,1.0,0.565657,6,6.0,2.0,1,0.619048,0.727273

In [79]:
x_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3671 entries, 1 to 5999
Data columns (total 8 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   gender                               3671 non-null   float64
 1   past_3_years_bike_related_purchases  3671 non-null   float64
 2   DOB                                  3671 non-null   int64
 3   job_industry_category                3671 non-null   float64
 4   wealth_segment                       3671 non-null   float64
 5   owns_car                             3671 non-null   int64
 6   tenure                               3671 non-null   float64
 7   property_valuation                   3671 non-null   float64
dtypes: float64(6), int64(2)
memory usage: 258.1 KB

In [80]:
y_df = pd.DataFrame(cust_trans_details['trans'], index=cust_trans_details.index.values)

In [81]:
y_df.head()

     trans
1  6066.36
2  1922.81
4   827.15
6  1985.14
7   775.27

In [82]:
y_df.tail()

      trans
5995    NaN
5996    NaN
5997    NaN
5998    NaN
5999    NaN

In [83]:
y_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3671 entries, 1 to 5999
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   trans   2853 non-null   float64
dtypes: float64(1)
memory usage: 57.4 KB

x_df and y_df represents the features and label in Data Frame

In [84]:
import numpy as np

x_np = x_df.to_numpy()
y_np = y_df.to_numpy()

In [85]:
x_np.shape, y_np.shape

((3671, 8), (3671, 1))

In [86]:
x_train = x_np[:2850]
y_train = y_np[:2850]
x_test = x_np[2850:2853]
y_test = y_np[2850:2853]
x_new = x_np[2853:]

In [87]:
from xgboost import XGBRegressor

classifier_xgb = XGBRegressor()

classifier_xgb.fit(x_train, y_train)

[05:32:27] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor()

In [88]:
y_pred = classifier_xgb.predict(x_test)

In [89]:
y_pred

array([3467.846 , 3436.3186, 2983.023 ], dtype=float32)

In [107]:
from sklearn.metrics import mean_absolute_error

mae = mean_absolute_error(y_pred, y_test)

In [108]:
mae

769.9105338541667

In [90]:
y_test.reshape(-1,)

array([2029.73, 2718.23, 3136.55])

## Evaluating New Customer List

In [91]:
y_new = classifier_xgb.predict(x_new)

In [92]:
y_new[:5]

array([2915.9111, 3258.5056, 2781.768 , 2650.4395, 3203.4055],
      dtype=float32)

In [93]:
index_list = list(cust_trans_details.index.values)
len(index_list)

3671

In [94]:
new_cust_index = index_list[2853:]
len(new_cust_index)

818

In [95]:
cust_new_labels['Transaction'] = y_new

In [96]:
cust_new_labels.sort_values(by=['Transaction'], ascending=False, inplace=True)

In [97]:
cust_new_labels.drop(['Rank', 'Value'], axis=1, inplace=True)

In [98]:
fla=[]
for i in range(1,819):
  fla.append(i)

In [99]:
cust_new_labels['Rank'] = fla

In [100]:
cust_new_labels.head()

      Transaction  Rank
5119  4250.676758     1
5655  4227.712891     2
5372  4060.643066     3
5795  3847.359619     4
5572  3771.757568     5

In [101]:
cust_new_labels.sort_values(by=['Transaction'], ascending=False).reset_index(drop=True, inplace=True)

In [102]:
cust_new_labels.head()

      Transaction  Rank
5119  4250.676758     1
5655  4227.712891     2
5372  4060.643066     3
5795  3847.359619     4
5572  3771.757568     5